<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <script>
        var currentPage = "@ViewData["currentPage"]";
    </script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/pure/pure.css">
        <link rel="stylesheet" href="~/lib/pure/grids-responsive.css">
        <link rel="stylesheet" href="~/css/general.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/pure/pure-min.css">
        <link rel="stylesheet" href="~/lib/pure/grids-responsive-min.css">
        <link rel="stylesheet" href="~/css/general.css">
    </environment>
</head>
<body>
    @*这里开始布局*@
    <header class="header" id="header">
        <h1 class="brand-title">在线日程管理</h1>
        <ul class="account-link">
            <span id="log-in"><a href="#" class="header-btn">登录</a></span>
            <span id="register"><a href="#" class="header-btn">注册</a></span>
        </span>
    </header>

    <div class="pure-g">
    <nav class="sidebar pure-u-1-8">
        <div class="pure-menu" id="side-bar">
            <ul class="pure-menu-list" id="side-menu">
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected': selectedItem == 'welcome'}">
                    <a href="#" class="pure-menu-link">欢迎</a>
                </li>
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected': false}">
                    <a href="#" class="pure-menu-link">今日时间表</a>
                </li>
                <li class="pure-menu-item" v-bind:class="{'pure-menu-selected': false}">
                    <a href="#" class="pure-menu-link">日历</a>
                </li>
                <li class="pure-menu-item pure-menu-separator hide" v-bind:class="{'pure-menu-selected': false}">
                    <a href="#" class="pure-menu-link">注册账号</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content pure-u-7-8">
     @RenderBody()
    </div>

    </div><!-- end of pure-g -->
    
    @*至此结束布局*@
    <environment include="Development">
        <script src="~/lib/vue/vue.js"></script>
        <script src="~/js/general.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/vue/vue.js"></script>
        <script src="~/js/general.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>