@page
@model IndexModel
@{
    ViewData["Title"] = "首页 - 在线日程管理";
    ViewData["CurrentPage"] = "welcome";
}

<div class="welcome-title">
    <h1>欢迎来到在线日程管理系统！</h1>
</div>
<div class="welcome-btn-group">
    <button class="pure-button welcome-btn">
        创建账号
    </button>
    <button class="pure-button welcome-btn">
        登录
    </button>
    <button class="pure-button welcome-btn">
        今日时间表
    </button>
    <button class="pure-button welcome-btn">
        日历
    </button>
    <button class="pure-button welcome-btn">
        已过期日程
    </button>
</div>