/*这是该项目的默认css文件*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hide {
    display: none;
}
body {
    background-color: #eee;
}
a {
    color:#3b8bba;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}
.content {
    margin-left: 12.5%;
}
header {
    background-color: #333;
    border-bottom: 2px solid #3b8bba;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
}

.header h1 {
    padding-left:3em;
    color:#fff;
    letter-spacing: 0.2em;
    font-weight: 100;
    font-size:1.5em;
    display: inline-block;
}

.brand-title {
    text-align: left;
    padding: 0 0;
}

.account-link {
    float:right;
    color:#fff;
    font-size: 120%;
    font-weight: 100;
    margin-right: 1em;
}
.account-link span + span {
    margin-left:0.5em;
}
a.header-btn {
    color: #eee;
}
a.header-btn:hover,
a.header-btn:focus {
    text-decoration: none;
    color: #999;
}

/*Sidebar*/
.sidebar {
    background-color: #191818;
    position: fixed;
    height: 100%;
    color: #999;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, .2);
}
#side-menu a {
    font-weight: lighter;
    letter-spacing: 0.2em;
}
#side-menu .pure-menu-link:hover,
#side-menu .pure-menu-link:focus {
    text-decoration: none;
}
#side-menu .pure-menu-selected a {
    color: #fff;
    background-color: #0078e7;
}
#side-menu .pure-menu-separator{
    margin-top: .15em;
    background-color: #999;
}
#side-menu .pure-menu-separator .pure-menu-link,
#side-menu .pure-menu-separator .pure-menu-link:hover,
#side-menu .pure-menu-separator .pure-menu-link:focus {
    background-color: transparent;
}

/*Welcome page*/
.welcome-title {
    text-align: center;
    border-bottom: 1px solid #999;
}
.welcome-title > h1 {
    font-weight: normal;
    letter-spacing: .1em;
}
.welcome-btn-group {
    margin-top: 4em;
    text-align: center;
}
.welcome-btn {
    width: 8em;
    height: 8em;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    margin-left: .5em;
    margin-right: .5em;
    background-color: #fff;
    line-height: 7em;
}
.welcome-btn:focus,
.welcome-btn:hover {
    border-color: #0078e7;
    background: #fff;
    text-decoration: none;
}
.welcome-btn:active {
    background-image: none;
}

/*Register and Login Page*/
#register-form fieldset,
#login-form fieldset{
    margin-left: 2em;
}
.register-legend h1,
.login-legend h1 {
    font-weight: 300;
    margin-left: 1em;
}
#register-form input,
#login-form input {
    min-width: 30em;
}
#register-form .submit-button,
#login-form .submit-button {
    margin-top:1em;
}